<!DOCTYPE html>
<html>
<body>

<h1>Login Form</h1>

<form action="postdata" method="post">
  <label>UserName</label>
  <input type="text" name="uname" placeholder="Username"><br><br>
  <label>Password</label>
  <input type="password"  name="password" placeholder="Password"><br><br>
  <input type="submit">
</form>

</body>
</html>
