<ul>
    <% city.forEach((city)=> { %>
        <li>
            <h2>
                <%= city.title %>
            </h2>
            <p>
                <%= city.first %>
            </p>
            <p>
                <%= city.second %>
            </p>
        </li>
        <hr />
    <% }) %>
</ul>